body {
  max-width: 800px;
  margin: 1rem auto;
}

@media (max-width: 800px) {
  body {
    margin: 1rem;
  }
}

.container + .container {
  margin-top: 2rem;
}

footer {
  text-align: center;
  margin: 1rem;
}
